.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.App .information {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: calc(100vh - 1rem);
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, darkblue, #838383, darkred);
  padding: 2rem 3rem 2rem 3rem;
  color: whitesmoke;
  margin-top: 2rem;
}

.App label {
  margin-bottom: 0.2rem;
  font-size: x-large;
}

.App input {
  width: 20%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  margin-bottom: 2rem;
}

.App button {
  width: 320px;
  padding: 0.4rem 0;
  margin-top: 15px;
  cursor: pointer;
  background: salmon;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 0.4rem;
}

.App button:hover {
  background: darkorange;
}

.App button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1300px) {
  .App .information {
    width: calc(100% - 1rem);
    height: 100%;
  }

  .App input {
    width: 70%;
  }

  .App button {
    width: 60vw;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .App .information {
    width: calc(100% - 4rem);
  }

  .App input {
    margin-bottom: 1rem;
  }
}
